* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Lato', sans-serif;
  color: var(--dark-grey);
  background-color: #ddd;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.link:hover {
  cursor: pointer;
}

.heading__secondary {
  text-align: center;
  font-size: 3.6rem;

  padding-bottom: 1rem;
}

.section {
  margin: 3rem 0;

  animation: appear 0.5s;
  transition: all 0.5s;
}

.section__cta {
  margin: 6rem 0;

  animation: appear 0.5s;
  transition: all 0.5s;
}

.section__heading {
  text-align: center;
  font-size: 4.8rem;
  margin-bottom: 2rem;
}

.bold {
  font-weight: 700;
}

/* GO TO TOP BTN */

.go-to-top {
  cursor: pointer;
  position: fixed;
  right: 5%;
  bottom: 5%;

  z-index: 100;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--cta);
  border: none;
  color: #fff;

  border-radius: 50%;
  font-size: 2rem;
  width: 3.5rem;
  height: 3.5rem;

  transition: all 0.2s;
}

.go-to-top:hover {
  transform: scale(1.15);
}

/*------------------*/
/*----REUSABLE------*/
/*------------------*/

.container {
  max-width: 100rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  align-items: center;
  justify-items: center;
}

.main-heading {
  font-size: 4rem;
}

/*------------------*/
/*----BUTTONS------*/
/*------------------*/

.btn:link,
.btn:visited {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0 1.5rem;
  text-decoration: none;
  color: #333;
  text-align: center;

  border-radius: 12px;

  transition: all 0.3s;
}

.btn:hover,
.btn:active {
  color: #fff;
}

.btn--cta:link,
.btn--cta:visited {
  padding: 0.5rem 1rem;
  color: var(--cta);
  transition: all 0.3s;
}

.btn--cta:hover,
.btn--cta:active {
  color: #fff;
}

.nav__btn.btn.active {
  color: #fff;
}

.form--btn {
  border: none;
  padding: 0.5rem 2rem;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 2.6rem;

  background-color: #1864ab;
  color: #fff;

  border-radius: 16px;

  transition: all 0.3s;
}

.form--btn:hover,
.form--btn:active {
  cursor: pointer;
  background-color: var(--cta);
  color: var(--main);
}

.btn--darkmode {
  display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;
  border: none;
  height: 3rem;
  width: 3rem;
  background-color: var(--cta);

  color: #333;

  border-radius: 50%;

  transition: all 0.3s;
}

.btn--darkmode img {
  height: 3rem;

  filter: invert(100%);
}
