.section__projects {
  margin: 0;
}

.container__projects {
  display: grid;
  grid-template-columns: 80fr 20fr;

  border-bottom: 1px solid #aaa;

  animation: appear 0.5s;
  transition: all 0.5s;
}

.project__showcase--title {
  text-align: center;
  font-size: 3.6rem;

  padding-top: 2rem;
}

.showcase__project {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 2rem;
  column-gap: 4rem;

  font-size: 2.4rem;
}

.project__img--zoomed {
  justify-self: center;
}

.zoomed__img {
  width: 100%;
}

.project__intro {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  gap: 2rem;
}

.project__intro--link {
  text-decoration: none;
  font-weight: 700;
  color: var(--main);
}

.project__intro span {
  font-weight: 700;
}

.project__intro--stack,
.project__intro--version {
  font-size: 2rem;
}

.project__intro p {
  display: inline;

  line-height: 1.4;
}

.project__card-container {
  border-left: 1px solid #aaa;
  padding: 1rem;
}

.project__card {
  padding: 1rem 0;
}

.project__img {
  width: 100%;
  backface-visibility: hidden;
}

.project__img:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: all 0.2s;
}

.hidden {
  display: none;
}

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.features__container {
  width: 100%;
  padding: 2rem;
}

.implemented-features__lists,
.to-implement-features__lists {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  padding: 2rem 0;
}

h3 {
  font-size: 2.6rem;
}

.feature {
  padding: 0 1rem;
}

.feature__title {
  font-weight: 700;
  font-size: 2.2rem;
}

.feature__list {
  margin: 1rem;
}

.feature__list--item {
  list-style: none;
  padding: 0.5rem 0;
  font-size: 2rem;
}

.feedback {
  margin: 1rem 0;
  text-align: center;
  font-size: 2rem;
}

.feedback:last-of-type {
  margin-bottom: 8rem;
}
