:root {
  --main: #104ba9;
  --main-light: #2471ec;
  --bg: #9ec0f6;
  --bg-section: #a8c6f7;
  --btn-bg: #84a6dc;
  --btn: #3e68ab;
  --cta: #035ff0;

  --dark-grey: #333;

  --light-grey: #ddd;
  --white: #fff;

  --shadow-light: #888;
}

/****************/
/* HEADER */
/****************/

/* NAVIGATION */

.nav {
  padding: 1.6rem;
  display: flex;
  justify-content: right;
  align-items: center;

  font-size: 3.2rem;
  font-weight: 700;

  box-shadow: 0 1px 5px var(--shadow-light);
}

.nav__links {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav__link--home {
  margin-right: auto;
}

/****************/
/* MAIN  */
/****************/

.home__container {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.header__box--top {
  display: flex;
  align-items: center;
  gap: 12rem;
}

.header__box--bottom {
  display: flex;
  flex-direction: column;
  padding: 3rem;

  text-align: center;
}

.home__img-box {
  max-width: 25rem;
}

.img-box__img {
  border: 2px solid var(--white);
  border-radius: 50%;

  width: 100%;
}

.home__text-box {
  color: var(--dark-grey);
  display: flex;
  flex-direction: column;
  width: 35vw;
  gap: 1.2rem;
}

.text-box__heading--primary {
  font-size: 6.4rem;
  text-align: center;

  font-weight: 700;
  letter-spacing: 1.8px;
}

.text-box__heading--secondary {
  font-size: 2.8rem;
  text-align: center;
  font-weight: 500;
  line-height: 1.6;
}

.text-box__para {
  font-size: 2.8rem;
  line-height: 1.5;
}

.paragraph--cta {
  padding: 1rem 0;

  font-size: 3.6rem;

  transition: all 0.2s;
}

.paragraph--cta:hover {
  padding: 1rem 0;

  transform: scale(1.03);
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 12rem;
  width: 100%;
}

.social-icon {
  height: 6rem;

  transition: all 0.2s;
}

.social-icon:hover {
  transform: scale(1.2);
}

.home__icons {
  display: flex;
  justify-content: center;
  gap: 4.2rem;
  height: 8rem;
}

.work__cards {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-items: center;
}

.latest {
  display: flex;
  align-items: center;
  gap: 4rem;

  width: 90rem;
}

.latest__card {
  position: relative;
  margin: 1.5rem 0;

  display: flex;

  width: 60%;
}

.latest__card--title {
  margin-bottom: 1rem;
  font-size: 3.2rem;
}

.latest__card--description {
  width: 40%;

  text-align: center;

  font-size: 2.4rem;
  padding: 1.5rem 0;

  line-height: 1.5;
}

.latest__card::after {
  animation: disappear 0.5s;
}

.latest__card img {
  border: none;
  vertical-align: top;

  border-radius: 16px;
}

.latest__card--text {
  padding: 0.2rem 1rem;
  font-size: 2.8rem;
  text-align: center;
  color: var(--white);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0%;
  background-color: #00000093;

  transition: all 0.5s;
  z-index: -1;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
}

.visible {
  z-index: 0;
  transition: all 0.5s;
  opacity: 1;
  height: 45%;

  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
}

@keyframes appear {
  from {
    opacity: 0;
    height: 0;
  }

  to {
    opacity: 1;
    height: 30%;
  }
}

.latest__card--img {
  width: 100%;
  height: 100%;
}

/****************/
/* CTA */
/****************/

.container__cta {
  max-width: 90rem;
  text-align: center;
}

.cta__text {
  font-size: 5.2rem;
}

.cta__form {
  padding-top: 4.8rem;

  display: flex;
  justify-content: center;
  gap: 3.2rem;
  flex-wrap: wrap;

  font-size: 3.6rem;
}

.cta__form--items {
  flex: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
}

.cta__form--item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 66%;
}

.cta__form--item input {
  border: none;
  padding: 1rem;
  font-size: 2rem;
}

.form--textarea {
  display: flex;
  flex-direction: column;
  width: 55%;
}

.textarea {
  padding: 1rem;

  border: none;
  font-size: 2rem;
  margin-top: 1.2rem;
  margin-bottom: -1.2rem;
}

.form--cta {
  display: flex;
  flex: 100%;
  justify-content: center;
}

/****************/
/* FOOTER */
/****************/

.footer {
  padding: 1.6rem;

  font-size: 3.2rem;

  box-shadow: 0 -1px 5px var(--shadow-light);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
}

.copyright {
  color: var(--dark-grey);
}

.social-links {
  font-weight: 700;
}

.social-link {
  margin-left: 3.2rem;
  text-decoration: none;
  color: #135089;
}
