:root {
  --main: #104ba9;
  --bg: #9ec0f6;
  --btn-bg: #84a6dc;
  --btn: #3e68ab;
  --cta: #035ff0;
}

/****************/
/* HEADER */
/****************/

.header {
  /* height: 80vh; */
}

/* NAVIGATION */

.nav {
  padding: 1.6rem;
  display: flex;
  justify-content: right;
  align-items: center;

  font-size: 3.2rem;
  font-weight: 700;

  box-shadow: 0 1px 5px #888;
}

.nav__links {
  display: flex;
  align-items: center;
  gap: 8rem;
  list-style: none;
}

.nav__link--home {
  margin-right: auto;
}

/****************/
/* MAIN  */
/****************/

.home__container {
  margin: 2rem;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.home__img-box {
  max-width: 17.5vw;
}

.img-box__img {
  box-shadow: #383f49 3px 3px 3px;
  width: 100%;
}

.home__text-box {
  color: #333;

  width: 35vw;
}

.text-box__name {
  font-size: 6.4rem;
  font-weight: 700;
  letter-spacing: 1.8px;
}

.text-box__heading {
  font-size: 5.2rem;
  font-weight: 500;
  line-height: 1.6;
  margin-bottom: 5.2rem;
}

.text-box__para {
  font-size: 3.6rem;
  line-height: 1.5;
  margin-bottom: 5.2rem;
}

.social-icons {
  margin: 2rem 0;
  display: flex;
  justify-content: space-evenly;
}

.social-icon {
  height: 6rem;
}

.home__heading {
  text-align: center;
  font-size: 5.2rem;
}

.home__icons:first-of-type {
  margin-top: 3.2rem;
}

.home__icons {
  margin: 4rem;
  display: flex;
  justify-content: center;
  gap: 4.2rem;
  height: 10rem;
}

.work__cards {
  margin: 4.8rem 0;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  align-items: center;
  justify-items: center;
}

.latest__card {
  position: relative;
  margin: 3rem 0;

  display: flex;
  flex-direction: column;

  width: 30vw;
}

.latest__card::after {
  animation: disappear 0.5s;
}

a img {
  border: none;
  vertical-align: top;
}

.latest__card--text {
  padding: 0.2rem 1rem;
  font-size: 2.8rem;
  text-align: center;
  color: #fff;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0%;
  background-color: #00000093;

  transition: all 0.5s;
  z-index: -1;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.visible {
  z-index: 0;
  transition: all 0.5s;
  opacity: 1;
  height: 45%;
}

@keyframes appear {
  from {
    opacity: 0;
    height: 0;
  }

  to {
    opacity: 1;
    height: 30%;
  }
}

.latest__card--img {
  width: 100%;
  height: 100%;
}

/* SECTION */

.section {
  animation: appear 0.5s;
  transition: all 0.5s;
}

.section__heading {
  text-align: center;
  font-size: 4.8rem;
  margin-bottom: 2rem;
}

/****************/
/* CTA */
/****************/

.section__cta {
  margin-bottom: 6rem;
}

.container__cta {
  max-width: 90rem;
  text-align: center;
}

.cta__heading {
  font-size: 6.4rem;
}

.cta__text {
  font-size: 5.2rem;
}

.cta__form {
  padding-top: 4.8rem;

  display: flex;
  justify-content: center;
  gap: 3.2rem;
  flex-wrap: wrap;

  font-size: 3.6rem;
}

.cta__form--items {
  flex: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
}

.cta__form--item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 66%;
}

.cta__form--item input {
  border: none;
  padding: 1rem;
  font-size: 2rem;
}

.form--textarea {
  display: flex;
  flex-direction: column;
  width: 55%;
}

.textarea {
  padding: 1rem;

  border: none;
  font-size: 2rem;
  margin-top: 1.2rem;
  margin-bottom: -1.2rem;
}

.form--cta {
  display: flex;
  flex: 100%;
  justify-content: center;
}

.nodejs {
  grid-template-columns: 60fr 40fr;
}

.container__cards {
  margin: 0 4rem;
}

.card__general {
  width: 100%;
  display: flex;
  justify-content: center;
}

.card__img {
  width: 100%;
}

/****************/
/* FOOTER */
/****************/

.footer {
  padding: 1.6rem;

  font-size: 3.2rem;

  box-shadow: 0 -1px 5px #888;
  
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
}

.copyright {
  color: rgba(85, 85, 85, 0.7);
}

.social-links {
  font-weight: 700;
}

.social-link {
  margin-left: 3.2rem;
  text-decoration: none;
  color: #135089;
}
