:root {
  --main: #0b0529;
  --bg: #9ec0f6;
  --bg-section: #a8c6f7;
  --btn-bg: #84a6dc;
  --btn: #3e68ab;
  --cta: #035ff0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: linear-gradient(to right, #0b0529, #2d11ba);
  color: #fff;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #fff;
}

.reset-btn {
  margin-top: 3rem;
  padding: 1rem 2rem;
  color: red;
}

.heading {
  text-align: center;
  font-size: 4.8rem;
}

.container__app {
  display: grid;
  grid-template-columns: 25fr 50fr 25fr;
  height: 100vh;
}

.container__projects {
  font-size: 1.4rem;
  padding: 2rem 3rem;
  border-right: 1px solid #fff;
}

.container__projects--top {
  display: flex;
  gap: 2rem;
}

.projects__add-btn {
  padding: 0 1rem;
  font-size: 2rem;
}

.projects__list {
  margin: 2rem 0;
  margin-left: 2rem;
  list-style: none;
  font-size: 1.6rem;
}

.projects__list--item {
  display: grid;
  grid-template-columns: 80fr 20fr;
  gap: 1rem;
  position: relative;
  padding: 1rem 0;
}

.project__rename {
  grid-column: span 2;
  display: flex;
  gap: 1rem;
}

.projects__list--item:hover {
  cursor: pointer;
}

.project__menu {
  position: absolute;
  left: 145px;
  top: -10px;
  padding: 0.5rem;
  background: #fff;
  color: #000;
  z-index: 100;
  border: 1px solid #fff;
}

.project__rename--input {
  width: 100%;
}

.project__menu--list {
  list-style: none;
}

.project__menu--list-item {
  padding: 5px;
  font-size: 1.8rem;
}

.project__menu--list-item:first-child {
  padding: 5px;
  border-bottom: 1px solid #000;
}

.container {
  width: 100%;
  margin: 0 2rem;
  display: flex;
  flex-direction: column;
}

.container__to-do {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 5rem 0;
  gap: 2rem;
}

.input-btn {
  z-index: 2;
}

.start-date-box {
  position: relative;
}

.date-box {
  font-size: 1.2rem;
  color: #fff;
  text-align: center;
  border: 1px solid black;
}

.container__input {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--main);
}

.btn {
  padding: 0 2rem;
}

.input-field {
  grid-column: span 2;
  width: 100%;

  padding: 1.2rem 2.4rem;

  font-size: 2.4rem;

  background-color: var(--main);
  color: var(--bg-section);

  border: none;
  border-radius: 7px;
}

.container__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
  gap: 2rem;
}

.list__element {
  display: flex;
  flex-direction: row;
  width: 90%;
}

.list__element--content {
  background-color: var(--main);
  color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;

  border: 1px solid #000;
}

.list__text {
  grid-column: span 2;
  padding: 0.5rem 3rem;
  font-size: 2rem;
  text-align: center;
}
.list__time {
  border: 1px solid #000;
  font-size: 1.2rem;

  display: flex;
  justify-content: space-around;
}

.list__time.empty {
  display: none;
}

.list__btn {
  margin-left: 2rem;
  border: none;
  border-radius: 50%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}
